   /* Підключив скидання стилів */
   @import url("reset.css");

   /* Підключаю шрифти */
   @import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
   @import url("fonts.css");
   @import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap");

   /* Загальні стилі */
   body {
       font-family: "Open Sans", sans-serif;
       font-size: 18px;
       font-weight: 600;
       line-height: 1.2;
   }

   [class*="-container"] {
       max-width: 1500px;
       width: 100%;
       margin: 0 auto;
       padding: 0 10px;
   }

   /* ------------------------------------------------------------------------------------- */
   .header-container {
       min-height: 70px;
       background-color: #808080;
   }

   .nav-list {
       font-size: 0;
       text-align: center;
   }

   .nav-list-item {
       display: inline-block;
       margin-right: 40px;

       background-color: #b6b6b6;

       font-size: 24px;
       font-weight: 700;
   }

   .nav-list-item__last {
       margin-right: 0;
   }


   /* _____________________________________________________________________________ */

   .baner-container {
       margin-bottom: 80px;
   }

   .baner-container h1,
   .facts-container h2,
   .historical-places-container h2 {
       font-size: 56px;
       font-weight: 700;
       text-transform: uppercase;
       text-align: center;
   }

   .facts-container {
       margin-bottom: 80px;
   }

   .facts-container h2,
   .historical-places-container h2 {
       margin-bottom: 20px;
       font-size: 40px;
   }

   .facts-list {
       font-size: 0;
       margin-left: -5px;
       margin-right: -5px;

       overflow: hidden;
   }

   .facts-list-item {
       display: inline-block;

       width: 33.333333%;
       min-height: 100px;
       vertical-align: top;
       padding: 5px;

       font-size: 18px;
   }

   .facts-list-item h3 {
       font-size: 24px;
       font-weight: 700;

       text-decoration: underline;
   }

   .historical-places-container {
       margin-bottom: 80px;
   }

   .historical-places-container h2 {
       text-align: left;
       font-style: oblique;
   }

   .item {
       font-size: 0;
       margin-bottom: 20px;
   }

   .item-text {
       display: inline-block;
       padding-right: 15px;

       font-size: 18px;
   }

   .item-text__left {
       padding-left: 15px;
       padding-right: 0;
   }

   /* Висоту поставив в блокі для експеременту з overflow */
   .item-text__overflow {
       max-height: 300px;
       overflow: auto;
   }

   .item-text,
   .item img {
       width: 50%;
       vertical-align: middle;
   }



   .item-text h3 {
       margin-bottom: 15px;

       font-size: 20px;
       font-weight: 700;
       text-transform: uppercase;
   }

   .item-text p {
       margin-bottom: 10px;
       text-align: justify;
   }

   .footer {
       text-align: center;
   }

   .footer a {
       font-size: 50px;
       font-weight: 700;


       text-decoration: line-through;
   }

   /* Блок з макету  */

   .homework-wrapper {
       background-color: #231F8B;
   }

   .homework-container {
       max-width: 1050px;
       padding: 100px 0;

       font-family: "Montserrat", sans-serif;
       font-size: 14px;
       line-height: 1.42;
       letter-spacing: 0.2px;
   }

   .block-text {
       margin-bottom: 72px;
   }

   .block-text p {
       margin-bottom: 10px;

       color: #5A54F2;
       font-weight: 700;
       line-height: 1.714;
   }

   .block-text h2,
   .block-text h2~p {
       color: #FFF;
       font-family: "Circular Std", sans-serif;
   }

   .block-text h2 {
       margin-bottom: 10px;

       font-size: 36px;
       font-weight: 700;
       line-height: 1;
   }

   .block-text h2~p {
       margin-bottom: 0;
       font-weight: 400;
       line-height: 1.42;
   }

   .advantages-list {
       padding: 0 4px;

       font-size: 0px;
   }

   .advantages-list-item {
       display: inline-block;
       max-width: 230px;
       width: 100%;
       vertical-align: top;

       margin-right: 40px;
       padding: 35px 40px;

       background-color: #FFF;
       font-size: 14px;
   }

   .advantages-list-item img {
       margin-bottom: 20px;
   }

   .advantages-list-item h3 {
       margin-bottom: 20px;

       color: #252B42;

       font-family: "Circular Std", sans-serif;
       font-size: 16px;
       font-weight: 700;
       line-height: 1.5;
       letter-spacing: 0.1px;
   }

   .advantages-list-item p {
       color: #737373;

   }

   .advantages-list-item__blue,
   .advantages-list-item__blue h3,
   .advantages-list-item__blue p {
       background-color: #5A54F2;
       color: #FFF;
   }

   .advantages-list-item__bottom {
       margin-top: 48px;
   }

   .advantages-list-item__last {
       margin-right: 0;
   }